.jumbotron{
    background-color: aquamarine;
    color: black;
    margin-top: 30px;
}


footer{
    padding: 10px 10px 0 10px;
    background-color:aquamarine;
    color: brown;
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-hotel{
    flex: 1 200px;
    padding: 2px 0px 2px 0 px;
    margin-top: 10px;
}

.btn-reserva{
    width: 100%;
    border-radius: 0px;
    background-color: cadetblue;
    
}

.footer-address-icon{
    padding-right: 10px;
}