.jumbotron {
  background-color: #B0E0E6;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #B0E0E6;
  color: brown;
  margin-bottom: 0px;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-top: 25px;
  margin-bottom: 25px; }

.card-hotel {
  flex: 1 200px;
  padding: 2px 0px 2px 0 px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px;
  background-color: cadetblue; }

.footer-address-icon {
  padding-right: 10px; }
