$blue: #B0E0E6;

@mixin margenes($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}

@mixin paddings($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron{
    background-color: $blue;
    color: black;
    @include margenes(50px, 0px);
}


footer{
    padding: 10px 10px 0 10px;
    background-color:$blue;
    color: brown;
    margin-bottom: 0px;
    @include margenes(10px, 0px);
    @include paddings(25px, 25px);
}

.card-hotel{
    flex: 1 200px;
    padding: 2px 0px 2px 0 px;
    @include margenes(10px, 0px);
}

.btn-reserva{
    width: 100%;
    border-radius: 0px;
    background-color: cadetblue;
    
}

.footer-address-icon{
    padding-right: 10px;
}