@blue: #B0E0E6;
@green: #32a852;
@red: #e6160b;


.margenes(@top: 0px, @bottom: 0px){
    margin-top: @top;
    margin-bottom: @bottom;
}

.jumbotron {
  background-color: @blue;
  color: black;
  .margenes(50px, 0px);
}

footer {
  padding: 10px 10px 0 10px;
  background-color: @green;
  color: brown;
  .margenes(10px, 0px); }

.card-hotel {
  flex: 1 200px;
  padding: 2px 0px 2px 0 px;
  .margenes(10px, 0px);
}

.btn-reserva {
  width: 100%;
  border-radius: 0px;
  background-color: cadetblue; }

.footer-address-icon {
  padding-right: 10px; }